device_firmware/build
device_firmware/build/
device_firmware/main/build
device_firmware/main/build/
hardware_design/programmer_board/programmer_board-backups
hardware_design/programmer_board/programmer_board-backups/
hardware_design/dsp_board/dsp_board-backups
hardware_design/dsp_board/dsp_board-backups/